$adl-grey-lightest: #ececed;
$adl-grey-light: #808490;
$adl-grey: $gray-600;
$adl-grey-dark: #595f6f;
$adl-grey-darkest: #333740;
$adl-coral: #f56e4e;
$adl-offwhite: #d5d6da;
$adl-white: #fff;
$adl-black: #000;
$adl-orange: #F56E4E;
$adl-light-grey: #ECECED;
$adl-lightest-grey: #A7AAB2;
$adl-tag-grey: #8E929D;
$adl-light-blue-grey: #595F6F;
$adl-dark-blue-gray: #333740;
$adl-dark-light-grey: #696F7D;

// Fonts
$adl-line-height: $line-height-base;

// Borders
$adl-border-grey-big: 1px solid $adl-grey-lightest;
$adl-border-radius-big: 30px;

// Padding
$adl-body-padding: 15px;

// Misc
$adl-box-shadow: 3px 3px 0 0 rgba(202,205,215,1);

// Filter panel & Filters
$adl-filter-min-height: 40px;
$adl-filter-padding-top: 12px;
$adl-filter-padding-side: 12px;
$adl-filter-padding: $adl-filter-padding-top $adl-filter-padding-side;

// Others
$adl-global-padding: 20px;
$adl-animation-timing: 0.2s;
$adl-global-opacity: 0.75;

// Breakpoints
$adl-tablet: 768;
$adl-desktop: 960;

// Typography

$adl-ui-font: 'Fira Sans Condensed', sans-serif;
$adl-body-font: 'Zilla Slab', serif;
$adl-ui-orn-font: 'Fira Sans Extra Condensed', sans-serif;