.filter
{
    .option.integer-option
    {
        padding: 0;

        .form-control {
            @include blankinputstyle;
            padding: $adl-filter-padding;

            background-color: white;
            color: darken($adl-grey-darkest, 7.5%);
            border-top: 1px solid $adl-lightest-grey;
            border-bottom: 1px solid $adl-lightest-grey;

            transition: background-color $adl-animation-timing linear;

            &.adl-integer-left {
                border-right: 1px solid $adl-lightest-grey;
            }

            &:focus {
                background-color: white;
                color: darken($adl-grey-darkest, 7.5%);
                transition: background-color $adl-animation-timing linear;
            }
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}