#adl-sidebar {

    .logo {

        @include hide-text;
        background-color: $adl-orange;
        text-align: center;
        padding: $adl-global-padding 0 $adl-global-padding 0;

        a {
            display: inline-block;
            width: 250px; height: 19px;
            background: transparent url('logo-large.svg') center center no-repeat;
        }
    }
}